.container{
    width: 100vw;
    height: 100vh;
    overflow-x: none;
    background-color: rgb(222, 200, 200);
    border: 1px solid black;

}
@media(min-width:640px){
    .container{
        flex-direction: row;
    }
}

.navcontainer{
    border: 2px solid black;
    width: 100vw;
    height: 50px;

    position: relative;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(15,1,46,1) 2%, rgba(61,5,80,1) 18%, rgba(116,9,121,0.05374649859943981) 35%, rgba(107,25,131,1) 40%, rgba(0,212,255,1) 100%);
    
}
#navlist{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
#name{
 font-size: 2.5rem;
 color: white;
}
a{
  margin: 10px;
  padding: 20px;
  text-decoration: none;
  color: aliceblue;
}
.footerbox{
    background-color: rgb(91, 72, 110);
    color: aliceblue;
    width: 100vw;
    height: 40px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.item1{
    display: flex;
    justify-content: space-around;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.left{
    display: flex;
    flex-direction: column;
   color:  rgb(126, 52, 52);
   
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
padding: 40px;

}
.left h2{
    color: rgb(143, 22, 86);
    text-decoration: underline;
    margin: 10px;
    font-size: 2.5rem;
}
.left p{
    margin: 5px;
    font-size: 1.3rem;
}
.left h4{
    font-size: 1.4rem;

}
.right img{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    transition: all 0.6s linear;
}
.right{
    width: 30%

}
.item2{
    display: flex;
    justify-content: space-around;
   
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.left2{
    display: flex;
    flex-direction: column;
   color: beige;
   

padding: 40px;

}
.left2 h2{
    color: beige;
    text-decoration: underline;
    margin: 10px;
    font-size: 2.5rem;
}
.left2 p{
    margin: 5px;
    font-size: 1.3rem;
}
.left2 h4{
    font-size: 1.4rem;

}
.right2 img{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    transition: all 0.6s linear;
}
.right2 img:hover{
    transform: scale(.8);
    
}
right2{
    position: relative;


 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img:hover{
    transform: scale(.8);
    
}